.header-container{
    background-color: white;
}

.s-container{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

h1{
    color: #673ab7;
    font-size: 28px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.6);
}
