<!-- component -->
<section class="grid min-h-screen place-items-center">
  
    <div class="w-2/4 grid grid-cols-2 rounded-md pt-0 shadow-lg bg-white gap-4">
      <div class="flex flex-col justify-stretch">
        <img class="object-cover" src="../../assets/img/Top-5-Benefits-of-Library-Management-System-for-Education.png" alt="">
      </div>
      <div>
        <header class="flex h-16 items-center justify-center">
          <span>Bienvenido</span>
        </header>
        <form class="grid gap-3 p-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ng-container *ngIf="!invitado">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput type="text" formControlName="usuario" class="w-full">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="contrasena" class="w-full">
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="invitado">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombres</mat-label>
              <input matInput type="text" formControlName="nombres" class="w-full" maxlength="30">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellidos</mat-label>
              <input matInput type="text" formControlName="apellidos" class="w-full" maxlength="30">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Cedula</mat-label>
              <input matInput type="text" formControlName="cedula" class="w-full" maxlength="14">
            </mat-form-field>
          </ng-container>
          
    
          <button class="flex h-10 items-center justify-between rounded-sm bg-purple-700 px-2 text-purple-100 transition-colors duration-300 hover:bg-purple-800 focus:outline-none focus:ring focus:ring-purple-400" type="submit">
            <span>Iniciar sesión</span>
            <span>
              <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
              </svg>
            </span>
          </button>
  
  
          <footer class="flex h-16 items-center justify-center text-purple-400">
            <button *ngIf="!invitado" (click)="iniciarInvitado()">Iniciar como invitado</button>
            <button *ngIf="invitado" (click)="iniciarAdministrador()">Iniciar como administrador</button>
          </footer>
        </form>

      </div>
    </div>
  </section>