.background {
    background-image: url('../../assets/img/000000_225459192_kdpmpp2m15_PS7.5_PC_background._leao_em_uma_biblioteca_no_estilo_bem_dark._Digital_art._Concept_art_[upscaled].jpg');
    background-size: cover;
    background-position: center;
}