.background {
    background-image: url('../../assets/img/Library_background.jpg');
    background-size: cover;
    background-position: center;
}

header{
    font-size: 26px;
}

img{
    width: 100%;
    height: 100%;
}