<form [formGroup]="prestamoForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col justify-center px-8 py-3">

        <h2>Datos del cliente</h2>

        <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="nombres">
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidos">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cédula</mat-label>
            <input matInput formControlName="cedula">
          </mat-form-field>


          <mat-divider></mat-divider>


          <h2 class="my-2">Libro a prestar</h2>

          <mat-form-field appearance="outline">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="titulo">
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Autor</mat-label>
            <input matInput formControlName="autor">
          </mat-form-field>
      
          <ng-container>
            <mat-form-field appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput formControlName="codigo">
            </mat-form-field>
          </ng-container>

          <mat-form-field appearance="outline">
            <mat-label>Fecha del prestamo</mat-label>
            <input matInput formControlName="fechaPrestamo">
          </mat-form-field>

        
      <div class="grid grid-cols-2 gap-3">
        <button mat-raised-button color="accent" (click)="volver()" type="button">Volver</button>
        <button mat-raised-button color="primary" type="submit">Realizar prestamo</button>
      </div>
    </div>
  
  </form>