<!-- Sidebar -->
<aside class="flex flex-col items-center justify-center h-screen background">
  <div class="px-3">
    <div class="flex flex-col items-center h-max text-center gap-16">
      <div class="flex flex-col items-center gap-2">
        <img src="../../../../assets/img/user-avatar-happy-icon-2048x2048-ssmbv1ou.png" alt="">
        <label *ngIf="appService.invitado == false">Papu</label>
        <label *ngIf="appService.invitado == true">{{ obtenerNombrePersona() }}</label>
      </div>
      <div class="flex flex-col gap-4 text-center">

        <div *ngIf="appService.invitado == false">
          <a class="link" (click)="onClickNavigate('/libros/administrar/agregar')">
            Agregar libro
          </a>
        </div>
        <div>
          <a class="link">
            Prestamos y devoluciones
          </a>
        </div>
        <div>
          <a class="link">
            Multas
          </a>
        </div>
      </div>

      <div>
        <a href="" class="logout" (click)="onClickNavigate('login')">
          Cerrar sesión 
        </a>
      </div>
    </div>
  </div>
</aside>