<!-- Sidebar -->
<aside class="flex flex-col items-center justify-center h-screen background">
  <div class="px-3">
    <div class="flex flex-col items-center h-max text-center gap-16">
      <div class="flex flex-col items-center gap-2">
        <img src="../../../../assets/img/user-avatar-happy-icon-2048x2048-ssmbv1ou.png" alt="">
        <label for="">Papu</label>
      </div>
      <div class="flex flex-col gap-4 text-center">

        <div>
          <a class="link" (click)="onClickNavigate('/libros/administrar/agregar')">
            Agregar libro
          </a>
        </div>
       
        <div>
          <a class="link" (click)="onClickNavigate('/libros/busqueda')">
            Buscar libros
          </a>
        </div>

        <div>
          <a class="link">
            Prestamos
          </a>
        </div>

        <div>
          <a class="link">
            Inventario
          </a>
        </div>
      </div>

      <div>
        <span class="logout">
          Cerrar sesión
        </span>
      </div>
    </div>
  </div>
</aside>