<!-- Sidebar -->
<aside class="flex flex-col items-center justify-center h-screen background">
  <div class="px-3">
    <div class="flex flex-col items-center h-max text-center gap-16">
      <div class="flex flex-col items-center gap-2">
        <img src="../../../../assets/img/user-avatar-happy-icon-2048x2048-ssmbv1ou.png" alt="">
        <label *ngIf="!invitado">{{username}}</label>
        <label *ngIf="invitado">{{ obtenerNombrePersona() }}</label>
      </div>
      <div *ngIf="!invitado" class="flex flex-col gap-4 text-center">
        <div>
          <a class="link" (click)="listarLibros(false)">
            Inicio
          </a>
        </div>
        <div>
          <a class="link" (click)="onClickNavigate('/libros/administrar/agregar')">
            Agregar libro
          </a>
        </div>
        <div>
          <a class="link" (click)="onClickNavigate('/prestamosDevoluciones')">
            Prestamos y devoluciones
          </a>
        </div>
        <div>
          <a class="link" (click)="onClickNavigate('/multas')">
            Multas
          </a>
        </div>
      </div>

      <div *ngIf="invitado" class="flex flex-col gap-4 text-center">
        <div>
          <a class="link" (click)="listarLibros(false)">
            Inicio
          </a>
        </div>
        <div>
          <a class="link" (click)="listarLibros(true)">
            Listar libros en posesión
          </a>
        </div>
      </div>

      <div>
        <a href="" class="logout" (click)="cerrarSesion()">
          Cerrar sesión 
        </a>
      </div>
    </div>
  </div>
</aside>